QLabel{
	height: 100px;
	color: #FFFFFF;
	background: #272727;
}

QMenu{
	color: #ffffff;
	background: #272727;
}

QMenu::item {
     /* sets background of menu item. set this to something non-transparent
         if you want menu color and menu item color to be different */
     background-color: transparent;
 }

 QMenu::item:selected { /* when user selects item using mouse or keyboard */
     background-color: #939393;
 }